<h2>Student Form</h2>

  <%= @student.errors.messages %>

<%= form_for @student , url:student_path do |f| %>

  
  <%= f.label :name , "Name:" %>
  <%= f.text_field :name %><br><br>


  <%= f.label :age , "Age" %>
  <%= f.number_field :age , in: 0..100 %><br>

  
  <%= f.label :email , "Email" %>
  <%= f.email_field :email %><br>

  
  <%= f.label :contact_no , "Contact No." %>
  <%= f.number_field :contact_no %><br>

  <%= f.label :enrolled_date, "Enrolled Date:" %> <br>
  <%= f.date_field :enrolled_date %><br><br>


  <%= f.label :course_id, "Course Name" %>
  <%= f.select :course_id, [["select"] , Course.order(:id).ids.map{|i| [Course.find(i).name , i]}].flatten(1) %><br>
  <br>

    <%= f.submit "Submit" , id:'btn1' %>

<% end %>



<!--

<form name="student_form" onsubmit="return validateForm()" method="post">
    <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
    <label for="age">Age</label><br>
  <input type="number" id="age" name="age"><br>
    <label for="email">Email</label><br>
  <input type="email" id="email" name="email"><br>
    <label for="contact">Contact No.</label><br>
  <input type="number" id="contact" name="contact"><br><br>
      <label for="course">Course Id:</label>
      <select id="course" name="course">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      </select><br><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset"><br><br>
      <button><a href='/show_student'>Show Details</a></button>
</form>


<%= javascript_pack_tag 'student'%>

-->

<script>

document.getElementById("btn1").addEventListener("click", function() {

  let a = document.getElementById("student_name").value;
  let b = document.getElementById("student_age").value;
  let c = document.getElementById("student_email").value;
  let d = document.getElementById("student_contact_no").value;
  let e = document.getElementById("student_course_id").value;
  // let a = document.forms["form"]["student[name]"].value;
  // let b = document.forms["form"]["student[age]"].value;
  // let c = document.forms["form"]["student[email]"].value;
  // let d = document.forms["form"]["student[contact_no]"].value;
  // let e = document.forms["form"]["student[course_id]"].value;
  if (a == "") {
    alert("Name must be filled out");
    return false;
  }
  else if (b==""){
    alert ("Age must be filled out");
    return false;
  }
  else if (c==""){
    alert ("Email must be filled out");
    return false;
  }
  else if (d==""){
    alert ("Contact must be filled out");
    return false;
  }
  else if ((e=="") || (e=="select")){
    alert ("Course must be Selected");
    return false;
  }
  else{
    alert ("Data Inserted Successfully");
  }
});


</script>
