<h2>Student Form</h2>

<!--  <%= @student.errors.messages %>
-->
<%= form_for @student , html: { name: 'form', onclick: 'return validateForm();'} , url:student_path do |f| %>

  
  <%= f.label :name , "Name:" %>
  <%= f.text_field :name %><br><br>


  <%= f.label :age , "Age" %>
  <%= f.number_field :age , in: 0..100 %><br>

  
  <%= f.label :email , "Email" %>
  <%= f.email_field :email %><br>

  
  <%= f.label :contact , "Contact No." %>
  <%= f.number_field :contact_no , is: 10 %><br>

  <%= f.label :enrolled_date, "Enrolled Date:" %> <br>
  <%= f.date_field :enrolled_date %><br><br>


  <%= f.label :course_id, "Course ID" %>
  <%= f.select :course_id, Course.order(:id).ids.map{|i| [i,i]} %><br>
  <br>

    <%= f.submit "Submit"%>

<% end %>


<!--

<form name="student_form" onsubmit="return validateForm()" method="post">
    <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
    <label for="age">Age</label><br>
  <input type="number" id="age" name="age"><br>
    <label for="email">Email</label><br>
  <input type="email" id="email" name="email"><br>
    <label for="contact">Contact No.</label><br>
  <input type="number" id="contact" name="contact"><br><br>
      <label for="course">Course Id:</label>
      <select id="course" name="course">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      </select><br><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset"><br><br>
      <button><a href='/show_student'>Show Details</a></button>
</form>


<%= javascript_pack_tag 'student'%>

-->

<script>

function validateForm() {
  let a = document.forms["form"]["student[name]"].value;
  let b = document.forms["form"]["student[age]"].value;
  let c = document.forms["form"]["student[email]"].value;
  let d = document.forms["form"]["student[contact]"].value;
  let e = document.forms["form"]["student[course]"].value;
  if (a == "") {
    alert("Name must be filled out");
    return false;
  }
  else if (b==""){
    alert ("Age must be filled out");
    return false;
  }
  else if (c==""){
    alert ("Email must be filled out");
    return false;
  }
  else if (d==""){
    alert ("Contact must be filled out");
    return false;
  }
  else if (e==""){
    alert ("Course must be Selected");
    return false;
  }
}
</script>
