<%# <button><a href='/home'><=Back</a></button> %>
<%= link_to "Back", home_path %>
<h2>Student Details</h2>
<table>

  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Contact No.</th>
    <th>Enrolled Date </th>
    <th>Course Name </th>
    <th>Modify</th>
    <th>Delete</th>
    <th>Send Mail</th>
  </tr>
  
<% @students.order(:id).each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.age %></td>
    <td><%= student.email %></td>
    <td><%= student.contact_no %></td>
    <td><%= student.enrolled_date %></td>
    <td><%= student.course.name %></td>
    <td><%= link_to "Edit" , student_path(student.id) , method: :put %></td>
    <td><%= link_to "Delete" , student_path(student.id) , method: :delete , data: {confirm: 'Are You Sure?'} %></td>
    <td><%= link_to "Send" %></td>
  </tr>
  
  <%end%>
  
</table>

<div>
  <% for i in 1..@page_size%>
  <%= link_to i, student_show_path(page: i-1) %>
  <%end%>
</div>
