<h2>Feedback Form</h2>

 <%= @feedback.errors.messages %>

<%= form_for @feedback , url:feedback_path  do |f| %>

  
  <%= f.label :comments_type , "Comment Type:" %>
  <%= f.select :comments_type , [Student.name, Faculty.name]%><br><br>
  <%= f.label :comments_id , "Comment Id:" %>
  <%= f.select :comments_id , [["select"] , Student.order(:id).ids.map{|i| [Student.find(i).id , i]}].flatten(1)%><br><br>
  <%= f.label :comments_id , "Comment Id:" %>
  <%= f.select :comments_id , [["select"] , Faculty.order(:id).ids.map{|i| [Faculty.find(i).id , i]}].flatten(1)%><br><br>
  <%= f.label :content, "Content" %>
  <%= f.text_field :content %><br><br>

    <%= f.submit "Submit" , id: "btn6" %>

<% end %>