<%# <button><a href='/home'><=Back</a></button> %>
<%= link_to "Back", home_path %>
<h2>Feedback Details</h2>
<button onclick="print()">Print This Page</button>
<table>

  <tr>
    <th>Comment Id</th>
    <th>Comment By</th>
    <th>Content</th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>
  
  <tr>
  <% @feedbacks.ids.each do |i| %>
    <td><%=@feedbacks.find(i).comments_id%></td>
    <td><%=@feedbacks.find(i).comments_type%></td>
    <td><%=@feedbacks.find(i).content%></td>
    <td><a href="/feedback/<%= i%>/edit">Edit</a></td>
    <td><a data-confirm="Sure to delete data of <%= @feedbacks.find(i).comments_type%> ?" data-method="delete" href="/feedback/<%= i%>">Delete</a></td>
  </tr>
  
    <%end%>
    
</table>