<h2>Course Edit Form</h2>

 <%= @course.errors.messages %>

<%= form_for @course do |f| %>

  
  <%= f.label :name , "Name:" %>
  <%= f.text_field :name %><br><br>
  
  <%= f.label :fees , "Fees: " %>
  <%= f.number_field :fees %><br>


  <%= f.label :duration, "Duration:" %>
  <%= f.number_field :duration %><br><br>

    <%= f.submit "Update"%>

<% end %>