<h1>Welcome To Amartex Shopping Centre</h1><br>
<h2>Products</h2>
<%= link_to '<button>Show Products</button>'.html_safe, product_show_path %>
<%= link_to '<button>Create Products</button>'.html_safe, product_new_path %>
<h2>Customers</h2>
<%= link_to '<button>Show Customers</button>'.html_safe, customer_show_path %>
<%= link_to '<button>Create Customers</button>'.html_safe, customer_new_path %>
<%= link_to '<button>JQuery Practice Page</button>'.html_safe, jquery_path %>
<%= link_to '<button>AJAX Practice Page</button>'.html_safe, ajax_path %>
<%#= "this is my name #{params[:name]}"%><br>
<%#= "this is my age #{params[:age]}"%>
<%= "this is first param => #{params[:myparam1]}"%><br>
<%= "this is second param => #{params[:myparam2]}"%><br>
<%= "this is third param => #{params[:myparam3]}"%>