<div class="container">   
	<div>   
	   <%= form_for @resume, html: { multipart: true } do |f| %>   
	      <%= f.label :name %>   
	      <%= f.text_field :name %>   
	      <br><br>   
	      <%= f.label :attachment %>   
	      <%= f.file_field :attachment , multiple: true %>   
	      <br>   
	      <%= f.submit "Save" %>   
	   <% end %>   
	</div>   
</div>  