<h2>Guardian Form</h2>

 <%= @guardian.errors.messages %>

<%= form_for @guardian , url:guardian_path do |f| %>

  
  <%= f.label :name , "Name:" %>
  <%= f.text_field :name %><br><br>
  
  <%= f.label :contact , "Contact No." %>
  <%= f.number_field :contact %><br>


  <%= f.label :student_id, "Student Name" %>
  <%= f.select :student_id, [["select"] , Student.order(:id).ids.map{|i| [Student.find(i).name,i]}].flatten(1) %><br><br>

    <%= f.submit "Submit" , id: "btn2"%>

<% end %>


<!-- 
<form name="guardian_form" onsubmit="return validateForm()" method="post">
    <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
    <label for="contact">Contact No.</label><br>
  <input type="number" id="contact" name="contact"><br><br>
      <label for="sid">Student Id</label>
      <select id="sid" name="sid">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      </select><br><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
</form>

<script>

function validateForm() {
  let a = document.forms["guardian_form"]["name"].value;
  let d = document.forms["guardian_form"]["contact"].value;
  let c = document.forms["guardian_form"]["sid"].value;
  if (a == "") {
    alert("Name must be filled out");
    return false;
  }
  else if (b==""){
    alert ("Contact must be filled out");
    return false;
  }
  else if (c==""){
    alert ("Student ID must be filled out");
    return false;
  }
}

</script>

-->


<script>

document.getElementById("btn2").addEventListener("click", function() {

  let a = document.getElementById("guardian_name").value;
  let b = document.getElementById("guardian_contact").value;
  let c = document.getElementById("guardian_student_id").value;

  if (a == "") {
    alert("Name must be filled out");
    return false;
  }
  else if (b==""){
    alert ("Contact must be filled out");
    return false;
  }
  else if ((c=="") || (c=="select")){
    alert ("Student ID must be filled out");
    return false;
  }
});


</script>
