<h2>Guardian Form</h2>

 <%= @guardian.errors.messages %>

<%= form_for @guardian , url:guardian_path do |f| %>

  
  <%= f.label :name , "Name:" %>
  <%= f.text_field :name %><br><br>
  
  <%= f.label :contact , "Contact No." %>
  <%= f.number_field :contact %><br>


  <%= f.label :student_id, "Student Name" %>
  <%= f.select :student_id, [["select"] , Student.order(:id).ids.map{|i| [Student.find(i).name,i]}].flatten(1) %><br><br>

    <%= f.submit "Submit" , id: "btn2"%>

<% end %>

