<%# <button><a href='/home'><=Back</a></button> %>
<%= link_to "Back", home_path %>
<h2>Guardian Details</h2>
<button onclick="print()">Print This Page</button>
<table>

  <tr>
    <th>Name</th>
    <th>Contact No.</th>
    <th>Student ID </th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>
  
  <% @guardians.order(:id).each do |guardian| %>
  <tr>
    <td><%= guardian.name %></td>
    <td><%= guardian.contact %></td>
    <td><%= guardian.student_id %></td>
    <td><%= link_to "Edit", guardian_path(guardian.id), method: :put %></td>
    <td><%= link_to "Delete", guardian_path(guardian.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  
  <%end%>
  
</table>
