<!DOCTYPE html>
<html>
  <head>
    <title>StudentManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id='navbar'>
      <a href="/home" style='margin:50px ; text-decoration:none ; font-size:20px;'>Home</a>
      <a href="/student" style='margin:50px ; text-decoration:none ; font-size:20px'>Student</a>
      <a href="/faculty" style='margin:50px ; text-decoration:none ; font-size:20px'>Faculty</a>
      <a href="/guardian" style='margin:50px ; text-decoration:none ; font-size:20px'>Guardian</a>
      <a href="/course" style='margin:50px ; text-decoration:none ; font-size:20px'>Course</a>
      <a href="/feedback" style='margin:50px ; text-decoration:none ; font-size:20px'>Feedback</a>
      <a href="/certification" style='margin:50px ; text-decoration:none ; font-size:20px'>Certification</a>
    </div>
    <%= yield %>
  </body>
</html>
