<!DOCTYPE html>
<html>
  <head>
    <title>StudentManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
  body{background:#edddb2}
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 15px;
      }
      th {
        text-align: center;
      }
      td {
        text-align: center;
      }
      table{
        margin-top: 50px;
      }
    </style>
  <body>
    <div id='navbar' style= 'width:100% ; border:2px solid black; background:yellow'>
      <a href="/home" style='margin:50px ; text-decoration:none ; font-size:20px;'>Home</a>
      <a href="/student" style='margin:50px ; text-decoration:none ; font-size:20px'>Student</a>
      <a href="/faculty" style='margin:50px ; text-decoration:none ; font-size:20px'>Faculty</a>
      <a href="/guardian" style='margin:50px ; text-decoration:none ; font-size:20px'>Guardian</a>
      <a href="/course" style='margin:50px ; text-decoration:none ; font-size:20px'>Course</a>
      <a href="/feedback" style='margin:50px ; text-decoration:none ; font-size:20px'>Feedback</a>
      <a href="/certification" style='margin:50px ; text-decoration:none ; font-size:20px'>Certification</a>
    </div>
    <%= yield %>
  </body>
</html>
