<!DOCTYPE html>
<html>
  <head>
    <title>StudentManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id='navbar'>
      <a href="/home">Home</a>
      <a href="/student">Student</a>
      <a href="/faculty">Faculty</a>
      <a href="/guardian">Guardian</a>
      <a href="/course">Course</a>
      <a href="/feedback">Feedback</a>
      <a href="/certification">Certification</a>
    </div>
    <%= yield %>
  </body>
</html>
