<%= link_to "Back" , root_path %>
<h2>Amartex Product Form</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<%= @product.errors.messages %>

<%= form_for @product , url:product_path do |f| %>

  
  <%= f.label :name , "Name:" %>
  <%= f.text_field :name %><br><br>


  <%= f.label :description , "Description" %>
  <%= f.text_field :description %><br><br>

 
  <%= f.label :price , "Price " %>
  <%= f.number_field :price %><br><br>


  <%= f.submit "Submit" %>
  <%= f.submit "Save as Draft" , formaction: product_draft_path  %>
	<%= link_to '<button>View Templates</button>'.html_safe, product_temp_path , id:'btn1' %>
  <%= link_to '<button>Click me</button>'.html_safe, product_temp_path , id:'btn2' %>

  <p id="para3"></p>
	

<% end %>



<script type="text/javascript">

    $(document).ready(function(){
	
	// function clicked(id){
	// 		alert(id);
	// 		console.log("Clicked");
 //  	};

    // function clicked(id)
    //   {
      $('#btn1').click(function(){
        $.ajax({
          type:"GET",
          url:"/product/temp",
          dataType:"html",
          data: {description: "btn1"}
         , success: function(data,status){   // On success this function will get executed
              $('#para3').html(data);
              alert(status);
            }
          });
      })

        
        // e.stopImmediatePropagation();
        // return false;
      // window.location.href = 'http://localhost:3000/product/temp';

        // e.stopPropagation();
      // }
      });

</script>


<!-- 
        $.ajax({                              // using AJAX to send data
        url:'/',
        type:'POST',                          // using POST method to send data
        dataType:'html',
        data:{                                // passing parameters 
            myparam1: "This is First Param value",
            myparam2: "This is Second Param value",
          } ,
            // authenticity_token: window._token
            success: function(data,status){   // On success this function will get executed
              $('#para2').html(data);
              // alert(status);                 // This will alert about status
            }
        });  -->