<%= link_to "Back" , root_path %>
<h2>Amartex Product Form</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<%= @product.errors.messages %>

<%= form_for @product , url:product_path do |f| %>

  
  <%= f.label :name , "Name:" %>
  <%= f.text_field :name %><br><br>


  <%= f.label :description , "Description" %>
  <%= f.text_field :description %><br><br>

 
  <%= f.label :price , "Price " %>
  <%= f.number_field :price %><br><br>


  <%= f.submit "Submit" %>
	<%= link_to '<button>View Templates</button>'.html_safe, product_temp_path , id:'btn1' %>
  <%= link_to '<button>Click me</button>'.html_safe, product_temp_path , id:'btn2' %>
	

<% end %>



<script type="text/javascript">
	
	// function clicked(id){
	// 		alert(id);
	// 		console.log("Clicked");
 //  	};

    // function clicked(id)
    //   {
    $(document).ready(function(){
    $('#btn1').click(function(e){
    	  // e.stopImmediatePropagation();
        e.preventDefault();
        // $("#paragraph").load("demo.txt");

        alert("button btn1 clicked");
    
      	console.log("Clicked");
        // alert(clicked_id);
        // tmp = document.getElementById(id).id;
        // alert(tmp);
        $.ajax({
          type:"GET",
          async: true,
          url:"/product/temp",
          dataType:"json",
          data: {description: "btn1"}
        });
        // e.stopImmediatePropagation();
        // return false;
      // window.location.href = 'http://localhost:3000/product/temp';

        // e.stopPropagation();
      // }
      });
      });

</script>