<%= link_to "Back", customer_new_path %>
<h2 class="h2"><%= "Customer".pluralize(@customers.size)%> Details</h2>
<button onclick="print()">Print This Page</button><br><br>
<table>

  <tr>
    <th>Customer ID </th>
    <th>Name</th>
    <th>Contact</th>
    <th>Product Names</th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>
  
  <% @customers.order(:id).each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.name %></td>
    <td><%= customer.contact %></td>
    <td><%= customer.product.name %></td>
    <td><%= link_to "Edit", customer_path(customer.id), method: :put %></td>
    <td><%= link_to "Delete", customer_path(customer.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  
  <%end%>
  
</table>