<%= link_to "Back", home_path %>
<h2><%= pluralize(@customer.count , Customer)%> Details</h2>
<button onclick="print()">Print This Page</button>
<table>

  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Customer ID </th>
    <th>Product Names</th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>
  
  <% @customers.order(:id).each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.contact %></td>
    <td><%= customer.id %></td>
    <td><%= customer.products_id></td>
    <td><%= link_to "Edit", customer_path(customer.id), method: :put %></td>
    <td><%= link_to "Delete", customer_path(customer.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  
  <%end%>
  
</table>